version: "3.8"

services:
  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    restart: always
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - GENERIC_TIMEZONE=Australia/Melbourne
      - N8N_HOST=localhost
      - N8N_PORT=5678
    volumes:
      - ./data:/home/node/.n8n
    env_file:
      - .env # added a .env file
